*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build/
.gradle/
out/
out
.gradle
gradle
gradlew.bat
gradlew
settings.gradle
.idea
.idea/
/app/src/main/java/com/myicecream/ice_cream1/frontend/icecreamGallery.java
/app/src/main/java/com/myicecream/ice_cream1/frontend/iceCreamList.java
/app/src/main/java/com/myicecream/ice_cream1/frontend/MainActivity.java
/app/src/main/java/com/myicecream/backend
/app/src/main/java/com/myicecream/connection
/app/src/main/java/com/myicecream/Constants
/app/src/main/java/com/myicecream/icecreamAdapter
