<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myicecream.ice_cream1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/a"
        android:label="@string/gallery"
        android:roundIcon="@mipmap/b"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frontend.WishActivity"></activity>
        <activity android:name=".frontend.AddIcecreamActivity" />
        <activity android:name=".frontend.MysignupActivity" />
        <activity android:name=".frontend.MainActivity" />
        <activity android:name=".frontend.iceCreamList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myicecream.ice_cream1.frontend.icecreamGallery" />
        </activity>
        <activity android:name=".frontend.icecreamGallery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myicecream.ice_cream1.frontend.MainActivity" />
        </activity>
        <activity android:name=".frontend.MyLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>